!!! 5
html
head
    title {{title}}
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    //
       CSS files! 
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(href='{{base}}/{{page}}/index.css', rel='stylesheet')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css')
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Javascript files! 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="{{static}}/javascript/jquery.js"><\\/script>')
    script(src='{{static}}/javascript/jquery-ui.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/keymage/1.0.1/keymage.min.js')
    script(src='{{base}}/{{page}}/index.js')
    //
       slider JS files 
    link(href='{{static}}/royalslider/royalslider.css', rel='stylesheet')
    script(src='{{static}}/royalslider/jquery.royalslider.min.js')
    link(href='{{static}}/royalslider/minimal-white/rs-minimal-white.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
    //
       META TAGS 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    //
       For mobile! 
    meta(name='description', content="Sunsethosting is hosts quality minecraft server for a prive lower than all other hosters! Don\'t wast time looking further, just take a free trail to test it out! With craftbukkit, multicraft and mysql included!")
    meta(name='robots', content='index, follow')
    link(rel='shortcut icon', type='image/png', href='/assets/images/favicon.png')
  body.preload
    .container.header
      a(href='/', title='Sunsethosting mainpage', attr-lang='title:logo link')
        img(src='{{assets}}/images/logo.png', alt='Sunsethosting logo | affordable bukkit server hosting')
    nav
      .container
        .btn-group.btn-group-justified.btn-group-lg
          | {{#navigation}}
          a.btn(lang='{{lang}}', href='/{{href}}') {{def}}
          | {{/navigation}}
        //
          <ul class="nav nav-justified">
                  {{#navigation}}
                    <li><a lang="{{lang}}" href="/{{href}}">{{def}}</a></li>
                  {{/navigation}}
                </ul>
        //
          <ul class="row">
              <li class="coll-md-3" lang="contact" data-url="/contact">
                  Contact
              </li>
              <li class="coll-md-3" lang="about" data-url="/about">
            About
              </li>
              <li class="coll-md-3" lang="clientarea" data-url="/clients">
            Client area
              </li>
              <li class="coll-md-3" lang="controlpanel" data-url="/multicraft">
            Control panel
              </li>
          </ul>
    | {{{content}}}
    #social.parallax
      .container.hidden-xs
        .col-md-5.col-sm-6
        .col-md-2.hidden-sm(to='https://twitter.com/sunsethosting')
          img(src='{{assets}}/images/features/twitter.png', alt='Our twitter')
        .col-md-5.col-sm-6
    footer
      .container
        .row
          .col-md-3.hidden-xs.hidden-sm
            // Hide the horse when on mobile 
            img..img-responsive(src='{{assets}}/images/unicorn.png', alt='Unicorns exist!', attr-lang='alt:unicorns exist')
          .col-md-3.col-xs-6
            h1 Contact
            ul
              li(to='/contact') Leave a message
              li(to='http://twitter.com/sunsethosting') Twitter feed
              li(to='http://facebook.com/sunsethosting') Facebook page
              li(to='http://youtube.com/sunsethosting') Abandoned youtube
          .col-md-3.hidden-xs.hidden-sm
          .col-md-3.col-xs-6
            p#dralinc
              lang(lang='dralinc', dispensable='dispensable') Sunsethosting is part of
              br
              b Dral .inc
